.autofill {
	list-style: none;
	margin: 0;
	padding: 0;
}

.query-criterion {
	width: 95vw;
	display: grid;
	grid-template-columns: 1fr 0.2fr 1fr 1fr 1fr;
	gap: 10px;
	margin: 30px 0;
	align-items: center;
	justify-self: center;
	position: sticky;
	z-index: 2;
	top: 0;
	background-color: var(--background-color);
	padding: 2.5vh 0;
	max-height: 3rem;
}

.query-criterion > img {
	height: 2.5rem;
	width: auto;
	padding: 5px;
}

.query-criterion > div {
	border: solid 1px rgb(0, 0, 0);
	display: flex;
	gap: 5px;
	height: 2.5rem;
	padding: 5px;
	border-radius: 5px;
}

.query-criterion img {
	display: inline;
	height: 2.5rem;
	margin: 0;
	padding: 0;
	width: auto;
}

.query-criterion input {
	display: inline;
	height: 2.5rem;
	margin: 0;
	padding: 0;
	width: 100%;
	border: none;
}

.query-criterion select {
	display: inline;
	height: 3rem;
	margin: 0;
	padding: 0;
	width: 100%;
}

.autofill-wrapper {
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
	height: 100%;
}

.autofill-item {
	position: relative;
	background-color: var(--accent-color);
	color: var(--accent-compliment);
	border-radius: 5px;
	margin: 10px 0;
	padding: 20px 3px;
	transition: 500ms ease-in-out;
}

#content-wrapper {
	display: grid;
	grid-template-columns: 15vw calc(80vw - 15px);
	gap: 15px;
	margin: 0;
	padding: 0;
}

.minor-search-criterion {
	position: sticky;
	top: 10vh;
	display: grid;
	grid-template-columns: 1fr;
	max-width: 20vw;
	height: min-content;
	gap: 15px;
}

.minor-search-criterion * {
	width: 100%;
	margin: 5px 0;
}

.autofill-content {
	background-color: var(--background-color);
	margin-top: 15px;
}

.autofill-item:hover {
	background-color: var(--active-color);
	color: var(--active-compliment);
	cursor: pointer;
}

#search-button {
	display: inline;
	height: 3rem;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: var(--accent-color);
	color: var(--accent-compliment);
	border-radius: 5px;
	transition: ease-in-out 800ms;
}

#search-button:hover {
	cursor: pointer;
	background-color: var(--active-color);
	color: var(--active-compliment);
}

#swap-circle-wrapper {
	border: none;
	justify-content: center;
}

#price-range {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding: 0;
	width: 100%;
}

#price-range > input {
	text-align: center;
	margin: 0;
	padding: 0;
	width: 5vw;
	border: none;
}
