body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 'GLOBAL' CSS - Only include styling here that applies to all modules */
/* * IF YOU ARE READING THIS IN A PULL REQUEST YOU MUST CHECK ALL PAGES WITH THE NEW STYLING BEFORE MERGING * */
