/* 'GLOBAL' CSS - Only include styling here that applies to all modules */
/* * IF YOU ARE READING THIS IN A PULL REQUEST YOU MUST CHECK ALL PAGES WITH THE NEW STYLING BEFORE MERGING * */

/* * High-Level Styles * */

* {
	font-size: 12pt;
	font-weight: 400;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	--background-color: rgb(255, 255, 255);
	--accent-color: rgb(107, 160, 196);
	--accent-compliment: rgb(248, 252, 255);
	--active-color: rgb(80, 136, 176);
	--active-compliment: rgb(255, 255, 255);
	--border-color: rgb(143, 143, 143);
	--tile-color: rgb(255, 255, 255);
	--warning-color: rgb(255, 160, 160);
	--warning-compliment: rgb(255, 255, 255);
	--active-warning-color: rgb(255, 0, 0);
	--active-warning-compliment: rgb(255, 255, 255);
	--suggested-color: rgb(132, 255, 132);
	--suggested-compliment: rgb(68, 68, 68);
	--active-suggested-color: rgb(86, 146, 60);
	--active-suggested-compliment: rgb(255, 255, 255);
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 2.5vh 2.5vw;
	background-color: var(--background-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: calc(100vh - 5vh);
}

/* * Semantic Styling * */

/* * Element Styling * */

h1 {
	font-size: 50pt;
}

/* * Class Styling * */

.tiles {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	align-items: center;
	justify-content: center;
	text-align: center;
}

/* * ID Styling * */

#root {
	min-height: calc(100vh - 5vh);
}

#warning {
	background-color: var(--warning-color);
	color: var(--warning-compliment);
	padding: 20px;
	transition: 300ms ease-in-out;
	transition-delay: 200ms;
}

#warning:hover {
	background-color: var(--active-warning-color);
	color: var(--active-warning-compliment);
}

#suggested {
	background-color: var(--suggested-color);
	color: var(--suggested-compliment);
	padding: 20px;
	transition: 300ms ease-in-out;
	transition-delay: 200ms;
}

#suggested:hover {
	background-color: var(--active-suggested-color);
	color: var(--active-suggested-compliment);
}
