.tile-content {
	margin: 0;
	padding: 0;
	width: calc(100% - 25px);
	min-height: 15vh;
	max-height: 40vh;
	background-color: var(--tile-color);
	border: solid 1px var(--border-color);
	border-radius: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	padding: 10px;
	transition: ease-in-out 350ms;
	transition-delay: 50ms;
}

.tile-content > div {
	display: grid;
	grid-template-columns: 1fr;
	gap: 10px;
}

.tile-content > .image-wrapper {
	align-items: center;
	justify-items: center;
}

.tile-content > * {
	margin: 10px;
}

.tile-content:hover {
	background-color: var(--active-color);
	cursor: pointer;
}

.tile-content img {
	width: 450px;
	aspect-ratio: 1920/1280;
	border-radius: 40px;
	margin: 0;
	object-fit: cover;
}

.tile-content:hover * {
	transition-delay: 50ms;
	color: var(--active-compliment);
}

.tile-content h3 {
	font-size: 2rem;
	font-weight: bold;
	margin: 0;
	color: var(--active-color);
}

.tile-content h4 {
	font-size: 1.2rem;
	font-weight: bold;
	margin: 0;
	color: var(--active-color);
}
