@import url(https://fonts.googleapis.com/css?family=Orbitron);

.header-content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 5px;
}

.header-content * {
	font-family: Orbitron, sans-serif;
	font-weight: 100;
	white-space: nowrap;
	margin: 0;
	font-size: 16pt;
	text-align: center;
}

.header-content h1 {
	font-size: 24pt;
	font-weight: 200;
}

.header-content img {
	height: 4rem;
}

.header-content nav {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 10px;
	height: 100%;
}

.header-content a {
	color: unset;
	text-decoration: none;
	border-bottom: 3px solid rgb(138, 138, 138);
	padding: 0 0 5px 0;
	transition: 500ms border-bottom;
}

.header-content a:hover {
	transition: 500ms border-bottom;
	border-bottom: 3px solid var(--accent-color);
	cursor: pointer;
}

.header-content .opts {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 10px;
}

.header-content .logo {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
	align-items: center;
	text-align: center;
}
